
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>مكتب وسلي للمحاماة  </title>
    <!-- ==============================================
    Favicons
    =============================================== -->
    <!-- <link rel="shortcut icon" href="img/favicons/favicon.ico">
       <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
       <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
       <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <!-- font-awesome -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Owl Stylesheets -->
    <link href="~/Content/css/owl.carousel.min.css" rel="stylesheet" />


    <!-- css -->
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <link href="~/Content/css/aos.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/flexslider.css" type="text/css" media="screen" property="" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- arabic -->
    <style type="text/css">
        /*importing arabic for KwBSite*/
        font-face {
            font-family: 'KwB-Bold';
            src: url(/font/GESSTextBold-Bold/GESSTextBold-Bold.eot); /* IE9+ Compat Modes */
            src: url(/font/GESSTextBold-Bold/GESSTextBold-Bold.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
            url(/font/GESSTextBold-Bold/GESSTextBold-Bold.svg) format('svg'), url(/font/GESSTextBold-Bold/GESSTextBold-Bold.woff) format('woff'), /* Modern browsers */
            url(/font/GESSTextBold-Bold/GESSTextBold-Bold.ttf) format('truetype'); /* Safari, Android, iOS */
            font-weight: normal;
            font-style: normal;
        }

        font-face {
            font-family: 'KwB-Medium';
            src: url(/font/GESSTextMedium-Medium/GESSTextMedium-Medium.eot); /* IE9+ Compat Modes */
            src: url(/font/GESSTextMedium-Medium/GESSTextMedium-Medium.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
            url(/font/GESSTextMedium-Medium/GESSTextMedium-Medium.svg) format('svg'), url(/font/GESSTextMedium-Medium/GESSTextMedium-Medium.woff) format('woff'), /* Modern browsers */
            url(/font/GESSTextMedium-Medium/GESSTextMedium-Medium.ttf) format('truetype'); /* Safari, Android, iOS */
            font-weight: normal;
            font-style: normal;
        }

        font-face {
            font-family: 'KwB-Light';
            src: url(/font/GESSTextLight-Light/GESSTextLight-Light.eot); /* IE9+ Compat Modes */
            src: url(/font/GESSTextLight-Light/GESSTextLight-Light.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
            url(/font/GESSTextLight-Light/GESSTextLight-Light.svg) format('svg'), url(/font/GESSTextLight-Light/GESSTextLight-Light.woff) format('woff'), /* Modern browsers */
            url(/font/GESSTextLight-Light/GESSTextLight-Light.ttf) format('truetype'); /* Safari, Android, iOS */
            font-weight: normal;
            font-style: normal;
        }

        body {
            font-family: 'KwB-light';
            height: 4000px
        }

        /* webkit solution */
        ::-webkit-input-placeholder {
            text-align: right;
        }

        text-align: right;
        /* mozilla solution */
        input:-moz-placeholder {
        }

        .contact .contact_box span {
            float: right;
        }

        .contact .contact_info p {
            text-align: right;
            padding-right: 70px;
        }

        .contact .contact_info b {
            text-align: right;
            display: inline;
        }

        .contact .contact_info {
            padding-left: 10px;
        }

        media(min-width: 900px) {
            .navbar-default .navbar-collapse, .navbar-default .navbar-form

        {
            padding-top: 7px;
            padding-bottom: 7px;
        }

        }

        media (min-width: 768px) {
            .navbar-right .dropdown-menu

        {
            left: auto;
            right: 0;
        }

        .navbar-header {
            float: right;
        }

        .navbar-right {
            float: left !important;
            margin-left: -15px;
        }

        .navbar-nav > li {
            float: right;
        }

        }

        .navbar-brand {
            margin-top: 8px;
        }

        media (max-width: 767px) {
            .navbar-right

        {
            background: white;
        }

        }

        .welcome img {
            padding-right: -80px !important;
            margin-bottom: -20px;
            float: right !important;
            padding-top: 60px;
        }

        .services {
            background-image: linear-gradient(rgba(101, 85, 12, 0.21),rgba(255, 255, 255, 0.24)),url(/img/bg4.jpg);
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
    </style>

    <script src="~/Scripts/js/index.js"></script>
</head>
<body class="index">

    <!-- navbar -->
    <nav class="navbar navbar-default navbar-fixed-top scrolled" style="direction: rtl;">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><p>مكتب   <span>وسلى </span>للمحاماة </p></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header_navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="header_navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#home">الرئيسية</a></li>
                    <li><a href="#about">من نحن</a></li>
                    <li><a href="#practice">مجالات العمل</a></li>
                    <li><a href="#service">الخدمات</a></li>
                    <li><a href="#packages">عروضنا</a></li>
                    <li><a href="#client">عملائنا</a></li>
                    <li><a href="#footer">تواصل معنا</a></li>

                    <!-- <li><a href="tel: 01200881779"><span class="calltxt"><i class="fa fa-phone" aria-hidden="true" style="margin-left: 10px;" ></i>01200881779</span></a></li>-->
                    <li><a href="/Home/index"> EN </a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!-- header -->
    <div class="header" id="home">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-5">
                    <div class="header_form">
                        <h3>احصل على عرض أسعار مجاناً </h3>
                        <form id="ArEstimatefrm">
                            <div class="header_inp">
                                <input id="ArEstimatefullnameID" name="ArEstimatefullnameID" type="text" class="form-control" placeholder="الاسم بالكامل*" dir="rtl">
                            </div>
                            <div class="header_inp">
                                <input id="ArEstimateEmailID" name="ArEstimateEmailID" type="text" class="form-control" placeholder="البريد الالكترونى" dir="rtl">
                            </div>
                            <div class="header_inp">
                                <input id="ArEstimatePhoneID" name="ArEstimatePhoneID" type="text" class="form-control" placeholder="رقم الموبايل*" dir="rtl">
                            </div>
                            <div class="header_inp">
                                <textarea id="ArEstimateMessageID" name="ArEstimateMessageID" class="form-control" placeholder="الرسالة" dir="rtl"></textarea>
                            </div>
                            <div class="header_inp">
                                <input id="ArEstimatePromoCodeID" name="ArEstimatePromoCodeID" type="text" class="form-control" placeholder="برومو كود*" dir="rtl">
                            </div>
                            <button href="javascript:void(0);" id="ArENEstimateSubmit" onclick="LoadArFreeEstimate();" class="btn" >سجل الآن</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-8 col-sm-7" style="text-align: center;">
                    <div class="header_text">
                        <h3>
                            <a href="">
                                <div id="type-text">
                                    <p> التراخيص</p>
                                    <p>تأسيس الشركات</p>
                                    <p>التقاضى والمنازعات القضائية</p>
                                    <p>قضايا الملكية الفكرية</p>
                                    <p>الجنسية والاقامات والعمل فى مصر</p>
                                </div>

                                <div class="text-box">
                                    <span id="typing-place"></span>
                                </div>
                            </a>ماذا يمكننا أن نقدم لك
                        </h3>
                        <h1>اهلاً بك فى مكتب   <span style="color: #D5AF34;">وسلى</span> للمحاماة</h1>
                        <p>إيماناً  منا بقدرة الشباب ورواد الأعمال على النهوض بالوطن؛ أسسنا مكتبنا لنقدم خدمات قانونية حديثة وسريعة بمقابل معقول  </p>
                        <a href="#about" class="btn btn-default section-btn">ابدأ الآن</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- welcome -->
    <div class="welcome" id="about">
        <div class="container">
            <div class="row">

                <div class="col-md-7" style="direction: rtl;" data-aos="zoom-in">
                    <div class="welcome_text">

                        <div class="welcome_title">
                            <h3>اهلاً بك فى  <span>WESLY LAW OFFICE</span></h3>
                            <div class="line1"></div>
                            <div class="space20"></div>
                            <p>نحن شركاء نجاح لعملائنا قبل أن نكون مؤدون للخدمة القانونية </p>
                        </div>

                        <ul class="list-unstyled">
                            <li>
                                <div class="wel_box">

                                    <div class="wel_icon">
                                        <i class="fa fa-hand-o-up" aria-hidden="true"></i>
                                    </div>
                                    <div class="wel_txt" style="float: left;">
                                        <h4> 	نحن نهتم بك  أولاً</h4>
                                        <p>نتطلع أن يتلقى عملائنا العناية التي يستحقونها كما نتطلع أن يحصلوا على ما يحتاجون من خدمات قانونية فى أسرع وقت ممكن</p>
                                    </div>


                                </div>
                            </li>
                            <li>
                                <div class="wel_box">

                                    <div class="wel_txt" style="float: left;">
                                        <h4>
                                            نحن نحمي حقوقك
                                        </h4>
                                        <p>نسعى لحماية حقوقك بإعطائتك التعليمات الواجب عملها طبقاً للقانون، وسنكون لك خير مشير </p>
                                    </div>
                                    <div class="wel_icon">
                                        <i class="fa fa-university" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="wel_box">

                                    <div class="wel_txt" style="float: left;">
                                        <h4>
                                            نحن نحارب من أجل العدالة
                                        </h4>
                                        <p>"إن الحياة غير عادلة" جملة لطالما سمعناها من الكثيرين، إلا أننا هنا نسعى إلى أن نكون عادلين فى عملنا وفى مكتبنا ومع عملائنا، ونسعى أن نحقق المزيد من العدل فى مجتمعاتنا. </p>
                                    </div>
                                    <div class="wel_icon">
                                        <i class="fa fa-balance-scale" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5" data-aos="fade-left">
                    <img src="~/img/wesly.png" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- counter -->
    <!--
    <div class="counter">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="counter_box">
                      <!--	<div class="counter_icon"><i class="fa fa-users" aria-hidden="true"></i></div>-->
    <!--
              <div class="item"><p id="number1" class="number">0</p></div>
              <span class="counter-text">
                  عميل موثوق</span>
          </div>
      </div>
      <!--
      <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="counter_box">
              <div class="counter_icon"><i class="fa fa-university" aria-hidden="true"></i></div>
              <div class="item"><p id="number2" class="number">0</p></div>
              <span class="counter-text">قضايا ناجحة</span>
          </div>
      </div>
    -->
    <!--
      <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="counter_box">
              <!--<div class="counter_icon"><i class="fa fa-laptop" aria-hidden="true"></i></div>-->
    <!--
              <div class="item"><p id="number3" class="number">0</p></div>
              <span class="counter-text">دراسة</span>
          </div>
      </div>
      <!--
      <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="counter_box">
              <div class="counter_icon"><i class="fa fa-trophy" aria-hidden="true"></i></div>
              <div class="item"><p id="number4" class="number">0</p></div>
              <span class="counter-text">جوائز</span>
          </div>
      </div>
    -->
    <!--
                    </div>
                </div>
            </div>
    -->
    <!-- practice -->
    <div class="practice" id="practice">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="practice_title" data-aos="zoom-in">
                        <h3><span> مجالات   </span>العمل </h3>
                        <p>
                            يساعد مكتبنا للمحاماة الأفراد والشركات فى المجالات القانونية الواسعة مع التركيز على قوانين الشركات والاستثمار والاصابات الشخصية و الجمعيات الخيرية والقانون المدنى وصياغة جميع أنواع العقود والاتفاقيات  وقانون الملكية الفكرية ومجال الاتصالات وتكنولوجيا المعلومات.
                            حيث أننا نباشر قضايا ومواضيع عملائنا القانونية بإهتمام ونزاهة بالغين، كما أننا على استعداد للتحدث مع عملاؤنا بلغة سهلة ومفهومة فى مسائلهم القانونية، وبغض النظر عن مدى تعقد مسائلهم القانونية فإن عملاؤنا يعتمدون علي مكتبنا لتزويدهم بالخدمات القانونية متخصصة تتوافق مع حاجاتهم

                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="prc_box" data-aos="fade-right">
                        <div class="prc_img">
                            <img src="~/img/invest.jpg" class="img-responsive" alt="">
                        </div>
                        <h4>
                            قانون الشركات والاستثمار
                        </h4>
                        <p>تسعى الدولة المصرية لأن تكون الدولة الأكثر جذباً للاستثمار فى أفريقيا والعالم وهى بالفعل تمتلك الكثير من الفرص الاستثمارية أهمها الأيدى العاملة والموارد الغير مستخدمة وإتساع أراضيها  </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="prc_box" data-aos="fade-down">
                        <div class="prc_img">
                            <img src="~/img/contract.jpg" class="img-responsive" alt="">
                        </div>
                        <h4>
                            العقود والاتفاقات
                        </h4>
                        <p>إن صياغة العقود والاتفاقات لها أهمية كبرى حيث أن الخطأ الصغير يكلف كثيراً </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="prc_box" data-aos="fade-left">
                        <div class="prc_img">
                            <img src="~/img/p3.jpg" class="img-responsive" alt="">
                        </div>
                        <h4>القانون المدنى </h4>
                        <p>هو أبو القوانين ويحكم العلاقة بين الأفراد وبعضهم البعض ولا يمكن لممارس القانون أن يبتعد عنه بأى حال</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="prc_box" data-aos="fade-right">
                        <div class="prc_img">
                            <img src="~/img/labor2.jpg" class="img-responsive" alt="">
                        </div>
                        <h4>
                            قانون العمل
                        </h4>
                        <p>إن أصحاب الأعمال والموظفين هم المنوط بهم تنفيذ هذا القانون بإدراك تام أنهم الأساس لأي مؤسسة ويحق لهم الحصول على أفضل الخدمات القانونية.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="prc_box" data-aos="fade-up">
                        <div class="prc_img">
                            <img src="~/img/intel.jpg" class="img-responsive" alt="" width="330">
                        </div>
                        <h4>
                            قانون الملكية الفكرية
                        </h4>
                        <p>نحن فى عصر تغيرت فيه الأمور واصبح يمكن  سرقتها بسهولة، لذلك إحم ما تملك من أفكار.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="prc_box" data-aos="fade-left">
                        <div class="prc_img">
                            <img src="~/img/it.jpg" class="img-responsive" alt="">
                        </div>
                        <h4>
                            تكنولوجيا المعلومات ووسائل الاتصال
                        </h4>
                        <p>تعتبر من أهم العوامل التى أدت إلى نمو اقتصاديات كثيرة مؤخراً، مكتبنا يدعم الشركات الناشئة فى هذا المجال. </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="prc_box" data-aos="fade-right">
                        <div class="prc_img">
                            <img src="~/img/charity.jpg" class="img-responsive" alt="">
                        </div>
                        <h4>
                            الجمعيات والمؤسسات الخيرية
                        </h4>
                        <p>يقع على الأفراد والشركات مسئولية مجتمعية يجب تقديمها للمجتمع، ابدأ ذلك رسمياً  </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="prc_box" data-aos="fade-down">
                        <div class="prc_img">
                            <img src="~/img/const.jpg" class="img-responsive" alt="">
                        </div>
                        <h4>
                            العقارات والإنشاءات
                        </h4>
                        <p>نقدم خدمات صياغة عقود الشراكات والإنشاءات وتسجيل ملكية العقارات وبحث ملكيتها ونمثل موكلينا فى النزاعات القضائية الخاصة بالعقارات.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="prc_box" data-aos="fade-left">
                        <div class="prc_img">
                            <img src="~/img/family2.jpg" class="img-responsive" alt="">
                        </div>
                        <h4>
                            قانون الأسرة
                        </h4>
                        <p>نمثل عملاؤنا فى تسجيل زواج الأجانب و إجراءات الميراث والوصية والنفقة وحضانة الأطفال.</p>
                    </div>
                </div>
                <div class="col-md-4" style="">
                    <div class="prc_box" data-aos="fade-up">
                        <div class="prc_img">
                            <img src="~/img/immigration.jpg" class="img-responsive" alt="">
                        </div>
                        <h4>
                            قانون الهجرة
                        </h4>
                        <p>نمثل عملاؤنا فى طلبات الجنسية وإقامة الأجانب والعمل فى مصر.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- services -->
    <div class="services" id="service">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="services_title" data-aos="zoom-in">
                        <h3>
                            <span>خد</span>ماتنا

                        </h3>
                        <p>هذه هى الخدمات القانونية الرئيسية التى يقدمها مكتبنا، كما نسعى دائماً إلى تلبية احتياجات عملائنا من الخدمات القانونية على أن يكون ذلك بوجه احترافى   </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="ser_box text-center" style="height: 270px;" data-aos="fade-right">
                        <div class="ser_icon">
                            <i class="fa fa-building" aria-hidden="true"></i>
                        </div>
                        <h4>تأسيس الشركات</h4>
                        <!--  <p>رت نسخ جديدة ومختلفة من نص لوريم إيبسوم، أحياناً عن طريق الصدفة،</p>-->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ser_box text-center" style="height: 270px;" data-aos="fade-down">
                        <div class="ser_icon">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        </div>
                        <h4>
                            صياغة العقود ومراجعتها والتفاوض فيها
                        </h4>
                        <!-- <p>ت نسخ جديدة ومختلفة من نص لوريم إيبسوم، أحياناً عن طريق الصدفة،</p>-->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ser_box text-center" style="height: 270px;" data-aos="fade-left">
                        <div class="ser_icon">
                            <i class="fa fa-balance-scale" aria-hidden="true"></i>
                        </div>
                        <h4>
                            التقاضى والمنازعات القضائية
                        </h4>
                        <!--   <p>ت نسخ جديدة ومختلفة من نص لوريم إيبسوم، أحياناً عن طريق الصدفة،.</p>-->
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4">
                    <div class="ser_box text-center" style="height: 270px;" data-aos="fade-right">
                        <div class="ser_icon">
                            <i class="fa fa-money" aria-hidden="true"></i>
                        </div>
                        <h4>
                            المنازعات العمالية وعقود العمل والتعويضات
                        </h4>
                        <!--<p>ت نسخ جديدة ومختلفة من نص لوريم إيبسوم، أحياناً عن طريق الصدفة،.</p>-->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ser_box text-center" style="height: 270px;" data-aos="fade-up">
                        <div class="ser_icon">
                            <i class="fa fa-id-card-o" aria-hidden="true"></i>
                        </div>
                        <h4>
                            زواج الأجانب وإجرائات الوصية والميراث
                        </h4>
                        <!--  <p>ت نسخ جديدة ومختلفة من نص لوريم إيبسوم، أحياناً عن طريق الصدفة،.</p>-->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ser_box text-center" style="height: 270px;" data-aos="fade-left">
                        <div class="ser_icon">
                            <i class="fa fa-home" aria-hidden="true"></i>
                        </div>
                        <h4>
                            الجنسية والاقامات والعمل فى مصر
                        </h4>
                        <!--  <p>ت نسخ جديدة ومختلفة من نص لوريم إيبسوم، أحياناً عن طريق الصدفة،.</p>-->
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4">
                    <div class="ser_box text-center" style="height: 270px;" data-aos="fade-right">
                        <div class="ser_icon">
                            <i class="fa fa-file-archive-o" aria-hidden="true"></i>
                        </div>
                        <h4>     تسجيل العلامات التجارية وبراءات الاختراع والتصاميم وتسجيل حقوق التأليف والنشر  </h4>
                        <!-- <p>رت نسخ جديدة ومختلفة من نص لوريم إيبسوم، أحياناً عن طريق الصدفة،</p>-->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ser_box text-center" style="height: 270px;" data-aos="fade-down">
                        <div class="ser_icon">
                            <i class="fa fa-copyright" aria-hidden="true"></i>
                        </div>
                        <h4>
                            قضايا الملكية الفكرية
                        </h4>
                        <!-- <p>ت نسخ جديدة ومختلفة من نص لوريم إيبسوم، أحياناً عن طريق الصدفة،</p>-->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ser_box text-center" style="height: 270px;" data-aos="fade-left">
                        <div class="ser_icon">
                            <i class="fa fa-mobile" aria-hidden="true"></i>
                        </div>
                        <h4>
                            اتفاقيات التجارة الالكترونية والهواتف النقالة
                        </h4>
                        <!-- <p>ت نسخ جديدة ومختلفة من نص لوريم إيبسوم، أحياناً عن طريق الصدفة،.</p>-->
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4">
                    <div class="ser_box text-center" style="height: 270px;" data-aos="fade-right">
                        <div class="ser_icon">
                            <i class="fa fa-address-card-o" aria-hidden="true"></i>
                        </div>
                        <h4>
                            التراخيص
                        </h4>
                        <!-- <p>ت نسخ جديدة ومختلفة من نص لوريم إيبسوم، أحياناً عن طريق الصدفة،.</p>-->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ser_box text-center" style="height: 270px;" data-aos="fade-up">
                        <div class="ser_icon">
                            <i class="fa fa-university" aria-hidden="true"></i>
                        </div>
                        <h4>
                            صياغة وتسجيل الملكيات العقارية، المنازعات العقارية
                        </h4>
                        <!-- <p>ت نسخ جديدة ومختلفة من نص لوريم إيبسوم، أحياناً عن طريق الصدفة،.</p>-->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ser_box text-center" style="height: 270px;" data-aos="fade-left">
                        <div class="ser_icon">
                            <i class="fa fa-handshake-o" aria-hidden="true"></i>
                        </div>
                        <h4>
                            تسجيل الجمعيات والمؤسسات الخيرية
                        </h4>
                        <!-- <p>ت نسخ جديدة ومختلفة من نص لوريم إيبسوم، أحياناً عن طريق الصدفة،.</p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- gallery -->
    <!--
            <div class="gallery">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="gallery_title">
                                <h3>
                                    <span>معرضنا</span>
                                </h3>
                                <p>اك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="gal_box text-center">
                                <img src="img/g1.jpg" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gal_box text-center">
                                <img src="img/g2.jpg" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gal_box text-center">
                                <img src="img/g3.jpg" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gal_box text-center">
                                <img src="img/g4.jpg" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gal_box text-center">
                                <img src="img/g2.jpg" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gal_box text-center">
                                <img src="img/g1.jpg" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    -->
    <!-- call -->
    <!--
            <div class="call">
                <div class="container">
                    <h2>تواصل معنا الآن للاستشارة المجانية</h2>
                    <h3>+1 (123) 456-7890</h3>
                    <p>اك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها </p>
                    <a href="#">
                        <i class="fa fa-phone" aria-hidden="true"></i> كلمنا الآن</a>
                </div>
            </div>

    -->
    <!-- package -->

    <div class="package" id="packages">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="package_title">
                        <h3 data-aos="fade-down">
                            <span>عروضنا</span>
                        </h3>
                        <p data-aos="fade-down">  مكتبنا لديه الكثير من العروض فى الكثير من المجالات القانونية و فيما يلى بعض منها  ؛ اطلب العرض الخاص بك </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="packageList">


                    <div class="col-md-4 col-sm-6">
                        <div class="packbox" style="height: 640px;">
                            <h3 style="padding-bottom:35px;"> المتابعة الدورية </h3>
                            <div class="price">
                                <!-- <strong>$599</strong>
                                 <span>فى الشهر</span>-->
                            </div>
                            <p>
                                محامى دوام جزئي لمدة 16 أو 32 ساعة شهرياً  ( أربعة أيام شهريا )مرة فى الاسبوع لمدة 4 أو 8 ساعات
                            </p>
                            <p>
                                تقديم الاستشارات القانونية للشركات الناشئة
                            </p>
                            <p>انعقاد الجمعيات العامة العادية </p>
                            <p>انعقاد الجمعيات العامة الغير عادية </p>

                            <div class="booknow" style="margin-top: 265px;">
                                <button type="" id="vbutton" style="border:none;background-color: #D5AF34; color:white;" class="video-button" data-toggle="modal" data-target="#myModal">استشارة مجانية</button>
                                <!-- Modal -->
                                <div class="modal fade" id="myModal" role="dialog" style=" ">
                                    <div class="modal-dialog" style="width: 55%;height:800px;">

                                        <!-- Modal content-->
                                        <div class="modal-content" style="background:url(img/bgs2.jpg);">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title"></h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="header_form">
                                                    <h3>احصل على استشاراتك المجانية   </h3>
                                                    <form>
                                                        <div class="header_inp">
                                                            <input type="text" class="form-control" placeholder="الاسم بالكامل*" dir="rtl">
                                                        </div>
                                                        <div class="header_inp">
                                                            <input type="text" class="form-control" placeholder="البريد الالكترونى*" dir="rtl">
                                                        </div>
                                                        <div class="header_inp">
                                                            <input type="text" class="form-control" placeholder="رقم الموبايل*" dir="rtl">
                                                        </div>
                                                        <div class="header_inp">
                                                            <textarea class="form-control" placeholder="السؤال" dir="rtl"></textarea>
                                                        </div>

                                                        <input type="submit" name="" class="btn" value="سجل الآن">
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="packbox" style="">
                            <h3 style="">خدمات   تاسيس شركة مساهمة مصرية </h3>
                            <div class="price">
                                <!-- <strong>$249</strong>
                                 <span>فى الشهر</span>-->
                            </div>
                            <p>
                                تأسيس الشركة
                            </p>
                            <p>عقد تأسيس الشركة  </p>
                            <p>
                                فتح حساب بنكي للشركة واستخراج شهادة رأس المال
                            </p>
                            <p>
                                السجل التجاري
                            </p>
                            <p>
                                البطاقة الضريبية
                            </p>
                            <p>
                                صحيفة الشركات
                            </p>



                            <p>نموذج عقد عمل </p>
                            <p>
                                إتفاقية عدم إفشاء أسرار
                            </p>
                            <p> نموذج عقد فريلانسر</p>
                            <p>نموذج مذكرة تفاهم </p>







                            <!-- <p> اعتماد دفاتر الشركة القانونية لدى الشهر العقاري - دفترين
                            </p>-->
                            <div class="booknow" style="margin-top: 0px;">
                                <button type="" id="vbutton" style="border:none;background-color: #D5AF34; color:white;" class="video-button" data-toggle="modal" data-target="#myModal">استشارة مجانية</button>
                                <!-- Modal -->
                                <div class="modal fade" id="myModal" role="dialog" style=" ">
                                    <div class="modal-dialog" style="width: 55%;height:800px;">

                                        <!-- Modal content-->
                                        <div class="modal-content" style="background:url(img/bgs2.jpg);">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title"></h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="header_form">
                                                    <h3>احصل على استشاراتك المجانية   </h3>
                                                    <form>
                                                        <div class="header_inp">
                                                            <input type="text" class="form-control" placeholder="الاسم بالكامل*" dir="rtl">
                                                        </div>
                                                        <div class="header_inp">
                                                            <input type="text" class="form-control" placeholder="البريد الالكترونى*" dir="rtl">
                                                        </div>
                                                        <div class="header_inp">
                                                            <input type="text" class="form-control" placeholder="رقم الموبايل*" dir="rtl">
                                                        </div>
                                                        <div class="header_inp">
                                                            <textarea class="form-control" placeholder="السؤال" dir="rtl"></textarea>
                                                        </div>

                                                        <input type="submit" name="" class="btn" value="سجل الآن">
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="packbox">
                            <h3> خدمات تأسيس  شركة ذات مسؤلية محدودة </h3>
                            <div class="price">
                                <!--  <strong>$59</strong>
                                  <span>فى الشهر</span>-->
                            </div>
                            <p>
                                تأسيس الشركة
                            </p>
                            <p>عقد تأسيس الشركة  </p>
                            <p>
                                فتح حساب بنكي للشركة واستخراج شهادة رأس المال
                            </p>
                            <p>
                                السجل التجاري
                            </p>
                            <p>
                                البطاقة الضريبية
                            </p>
                            <p>
                                صحيفة الشركات
                            </p>



                            <p>نموذج عقد عمل </p>
                            <p>
                                إتفاقية عدم إفشاء أسرار
                            </p>
                            <p> نموذج عقد فريلانسر</p>
                            <p>نموذج مذكرة تفاهم </p>







                            <!-- <p> اعتماد دفاتر الشركة القانونية لدى الشهر العقاري - دفترين
                            </p>-->
                            <div class="booknow">
                                <button type="" id="vbutton" style="border:none;background-color: #D5AF34; color:white;" class="video-button" data-toggle="modal" data-target="#myModal">استشارة مجانية</button>
                                <!-- Modal -->
                                <div class="modal fade" id="myModal" role="dialog" style=" ">
                                    <div class="modal-dialog" style="width: 55%;height:800px;">

                                        <!-- Modal content-->
                                        <div class="modal-content" style="background:url(img/bgs2.jpg);">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title"></h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="header_form">
                                                    <h3>احصل على استشاراتك المجانية   </h3>
                                                    <form>
                                                        <div class="header_inp">
                                                            <input type="text" class="form-control" placeholder="الاسم بالكامل*" dir="rtl">
                                                        </div>
                                                        <div class="header_inp">
                                                            <input type="text" class="form-control" placeholder="البريد الالكترونى*" dir="rtl">
                                                        </div>
                                                        <div class="header_inp">
                                                            <input type="text" class="form-control" placeholder="رقم الموبايل*" dir="rtl">
                                                        </div>
                                                        <div class="header_inp">
                                                            <textarea class="form-control" placeholder="السؤال" dir="rtl"></textarea>
                                                        </div>

                                                        <input type="submit" name="" class="btn" value="سجل الآن">
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- faq -->
    <!--
    <div class="faq" >
      <div class="container">
        <div class="row">
            <div class="col-md-6">

            <!-- Video start -->
    <!--
    <div class="videowraper">
      <div class="videobg">
        <div class="video-image"></div>
        <div class="playbtn"><a href="#." class="popup"><span></span></a></div>
      </div>
    </div>
    <!-- Video end -->
    <!--
                  </div>
                  <div class="col-md-6">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="" href="#collapse1">
                                خلافاَ للإعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً ؟  </a>
                            </h4>
                              </div>
                              <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">

    هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. بينما تعمل جميع مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص لوريم إيبسوم </div>
                              </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse2" aria-expanded="false"> لافاَ للإعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً  ؟ </a>
                            </h4>
                          </div>
                          <div id="collapse2" class="panel-collapse collapse" aria-expanded="false">
                            <div class="panel-body">

    هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. بينما تعمل جميع مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص لوريم إيبسوم<br>
                              <br>

    هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. بينما تعمل جميع مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص لوريم إيبسوم
                              </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse3" aria-expanded="false">لافاَ للإعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً  ؟ </a>
                            </h4>
                          </div>
                          <div id="collapse3" class="panel-collapse collapse" aria-expanded="false">
                            <div class="panel-body"><br>


    هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. بينما تعمل جميع مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص لوريم إيبسوم
                              <br>


    هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. بينما تعمل جميع مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص لوريم إيبسوم
                             </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse4" aria-expanded="false">لافاَ للإعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً  ؟ </a>
                            </h4>
                          </div>
                          <div id="collapse4" class="panel-collapse collapse" aria-expanded="false">
                            <div class="panel-body"><br>


    هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. بينما تعمل جميع مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص لوريم إيبسوم
                              <br>


    هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. بينما تعمل جميع مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص لوريم إيبسوم
                              </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse5" aria-expanded="false">لافاَ للإعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً  ؟ </a>
                            </h4>
                          </div>
                          <div id="collapse5" class="panel-collapse collapse" aria-expanded="false">
                            <div class="panel-body"><br>


    هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. بينما تعمل جميع مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص لوريم إيبسوم
                              <br>


    هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. بينما تعمل جميع مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص لوريم إيبسوم
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
    -->
    <!--testimonials-->
    <div class="clients-main " id="client" style="background: linear-gradient(#0f0e0edb,rgba(62, 24, 24, 0.51)),url(/img/bg3.jpg) no-repeat; background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
   /*background-attachment: fixed;*/
    background-position: center;

    ">
        <div class="container" style="margin-right: auto;
    margin-left: auto;">
            <!-- Owl-Carousel -->
            <div class="testimonials_title" style="text-align: center;">

                <h3 style="color: #D5AF34;">آراء  عملائنا</h3>
                <p style="color: white;">
                    انظر ماذا يقول  عملائنا
                </p>
            </div>
            <div class="cli-ent" data-aos="fade-down" style="text-align: center;">
                <section class="slider">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <div class="item g1">
                                    <div class="agile-dish-caption">
                                        <!--<img class="lazyOwl" src="images/1.png" alt="" />-->
                                        <h4>ندى نبيل</h4>
                                        <span>ePlus Telecom</span>

                                    </div>

                                    <div class="clearfix"></div>
                                    <p class="para-w3-agile">
                                        <span class="fa fa-quote-left" aria-hidden="true"></span>قدم لي مكتب وسلي للمحاماة خدمة ممتازة ودعم بطريقة سريعة ومواتية. كان السيد وسلي عادل ودودًا للغاية ، وجعلنا نشعر بالراحة والمعرفة الجيدة بشأن جميع القرارات المهمة التي ظهرت لنا. لن نتردد في التوصية بمكتب وسلى لجميع الشركات والمؤسسات للتعامل معه
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="item g1">
                                    <div class="agile-dish-caption">
                                        <!--<img class="lazyOwl" src="img/logo2.jpg" alt="" width="150" />-->
                                        <h4>احمد عرفة</h4>
                                        <span> MEDIREC</span>

                                    </div>

                                    <div class="clearfix"></div>
                                    <p class="para-w3-agile"><span class="fa fa-quote-left" aria-hidden="true"></span>كان من دواعى سروري العمل مع  مكتب وسلي للخدمات القانونية. لقد اسس لى المكتب شركتى الناشئة حديثا في غضون أسبوع فقط. هم دائما متاحين لأية أسئلة. أوصي بهم بشدة لمن يرغبون في تأسيس شركات خاصة بهم</p>
                                </div>
                            </li>
                            <!--
                            <li>
                                <div class="item g1">
                                    <div class="agile-dish-caption">
                                    <!--<img class="lazyOwl" src="img/logo3.jpg" alt="" height="70" width="70" />-->
                            <!--
                                        <h4>اسم العميل </h4>
                                        <span>الشركة</span>

                                    </div>

                                    <div class="clearfix"></div>
                                    <p class="para-w3-agile"><span class="fa fa-quote-left" aria-hidden="true"></span>Duis nulla nulla, faucibus id diam ac, luctus sodales purus.
                                        Quisque nibh ipsum,Ut accumsan.</p>
                                </div>
                            </li>-->
                            <li>
                                <div class="item g1">
                                    <div class="agile-dish-caption">
                                        <!--<img class="lazyOwl" src="img/logorestart.png" alt="" height="70" width="200" />-->
                                        <h4>مينا ملاك المدير التنفيذى </h4>
                                        <span>Restart Technology</span>

                                    </div>

                                    <div class="clearfix"></div>
                                    <p class="para-w3-agile">
                                        <span class="fa fa-quote-left" aria-hidden="true"></span>نحن احد عملاء مكتب وسلى للمحاماه لأكثر من 5 سنوات، وقد كان إضافة رائعة لشركتنا. يتميزوا بالتركيز و عدم تجاهل المكالمات الهاتفية او نسيان اى متطلبات . لقد قاموا بعمل عظيم في نقل شركتي من مستوى إلى آخر هم مستشارون عظماء ، متعلمون جيداً وأشخاص مسؤولين
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="item g1">
                                    <div class="agile-dish-caption">
                                        <!--<img class="lazyOwl" src="img/land.jpeg" alt="" height="70" width="200" />-->
                                        <h4>رائف عادل</h4>
                                        <span>Land Kraft</span>

                                    </div>

                                    <div class="clearfix"></div>
                                    <p class="para-w3-agile">
                                        <span class="fa fa-quote-left" aria-hidden="true"></span>
                                        مكتب وسلى للمحاماة ليس فقط جيد  بل انه اكثر من رائع ،لديهم  فريق  على دراية تامة بالمعلومات و الاجراءات القانونية ، فهم يقدمون افضل ما لديهم للعملاء وهم متاحين دائما. أنا فخور لاستخدامى خدماتهم
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="item g1">
                                    <div class="agile-dish-caption">
                                        <!--<img class="lazyOwl" src="img/land.jpeg" alt="" height="70" width="200" />-->
                                        <h4>  محمد محفوظ  / المدير التنفيذى  </h4>
                                        <span>Shamsia space L.L.C </span>

                                    </div>

                                    <div class="clearfix"></div>
                                    <p class="para-w3-agile"><span class="fa fa-quote-left" aria-hidden="true"></span>عملنا مع مكتب وسلى للمحاماة و الاستشارات القانونية منذ 2015 وحتى الان ، قام المكتب بتاسيس شركتنا شركة شمسية سبيس ذ.م.م  و الكثير من الاعمال القانونية الاخرى ، لدى الاستاذ وسلى خلفية جيدة جدا حول الخدمات القانونية للشركات الناشئة فلقد قدم خدمات قانونية كثيرة لشركتنا فى مواقف عديدة و قدم الينا استشارات قانونية فى مراحل نمونا خطوة بخطوة
                                </div>
                            </li>
                            <li>
                                <div class="item g1">
                                    <div class="agile-dish-caption">
                                        <!--<img class="lazyOwl" src="img/land.jpeg" alt="" height="70" width="200" />-->
                                        <h4> احمد عادل  </h4>
                                        <span>Mogassam Labs</span>

                                    </div>

                                    <div class="clearfix"></div>
                                    <p class="para-w3-agile">
                                        <span class="fa fa-quote-left" aria-hidden="true"></span>
                                        عملنا مع مكتب وسلى للمحاماة لمدة عامين . انه من الصعب ان تجد محاميا او مكتب محاماة على علم تام بالعمل مع الشركات الناشئة او المتنامية جدا . المكتب دعم شركة مجسم بكل الاعمال القانونية بسرعة و مهنية و بطريقة ذكية مما جعلنا نحصل على خدمات قانونية قوية
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <!--// Owl-Carousel -->
        </div>
    </div>

    <!-- testimonials -->
    <!--
    <div class="testimonials" id="testimonials">
        <div class="container">

            <!-- Section Title -->
    <!--
              <div class="testimonials_title">
                <h3>آراء عملاؤنا</h3>
                <p>
                  انظر ماذا يقول عملاؤنا!</p>
              </div>

              <div class="owl-carousel owl-theme">
                  <div class="item">
                      <div class="stars">
                          <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
                      </div>
                      <p>"هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام
                          "</p>
                      <div class="clientname">الاسم</div>
                      <div class="clientinfo">المدير التنفيذى</div>
                  </div>
                  <div class="item">
                      <div class="stars">
                          <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
                      </div>
                      <p>"هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام
                          "</p>
                      <div class="clientname">الاسم</div>
                      <div class="clientinfo">المدير التنفيذى</div>
                  </div>
                  <div class="item">
                      <div class="stars">
                          <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
                      </div>
                      <p>"هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام
                          "</p>
                      <div class="clientname">الاسم</div>
                      <div class="clientinfo">المدير التنفيذى</div>
                  </div>
                  <div class="item">
                      <div class="stars">
                          <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
                      </div>
                      <p>"هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام
                          "</p>
                      <div class="clientname">الاسم</div>
                      <div class="clientinfo">المدير التنفيذى</div>
                  </div>
                  <div class="item">
                      <div class="stars">
                          <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
                      </div>
                      <p>"هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام
                          "</p>
                      <div class="clientname">الاسم </div>
                      <div class="clientinfo">المدير التنفيذى</div>
                  </div>
                  <div class="item">
                      <div class="stars">
                          <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
                      </div>
                      <p>"هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام
                          "</p>
                      <div class="clientname">الاسم</div>
                      <div class="clientinfo">المدير التنفيذى</div>
                  </div>
                  <div class="item">
                      <div class="stars">
                          <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
                      </div>
                      <p>"هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام
                          "</p>
                      <div class="clientname">الاسم </div>
                      <div class="clientinfo">المدير التنفيذى</div>
                  </div>
              </div>
          </div>
      </div>
    -->
    <!-- map -->
    <div id="map-canvas"></div>


    <!-- newsletter -->
    <div class="newsletter">
        <div class="container">
            <div class="row">

                <div class="col-md-8" data-aos="fade-right">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="ادخل بريدك الالكترونى">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">
                                سجل
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-left">
                    <h3>النشرة الإخبارية</h3>
                    <p>
                        الاشتراك للحصول على النشرة الأسبوعية لدينا.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <!-- contact -->
    <!--
    <div class="contact" id="contact">
        <div class="container">

            <div class="contact_title">
                <h3>الحصول على الاقتباس مجانا</h3>
                <p>اك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها</p>
            </div>
            <div class="row">

                <div class="col-md-8">
                    <div class="contact_form">
                        <div class="row">
                            <form id="">
                                <div class="col-md-4 col-sm-6">
                                    <input type="text" class="form-control" name="name" placeholder="الاسم">
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <input type="email" class="form-control" name="email" placeholder="البريد الالكترونى">
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <input type="tel" class="form-control" name="phone" placeholder="التليفون">
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <input type="text" class="form-control" name="phone" placeholder="العنوان">
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <textarea class="form-control" rows="6" name="message" placeholder="الرسالة"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <button id="" class="" name="">ارسل رسالة</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="">
                        <div class="contact_box">
                            <span>
                                <i class="fa fa-home"></i>
                            </span>
                            <div class="contact_info">
                               <p> <b>العنوان </b></p>
                                <p>8500 القاهرة , المعادى  , شارع  12301</p>
                            </div>
                        </div>
                        <!-- Contact Info -->
    <!--
    <div class="contact_box">
        <span>
            <i class="fa fa-envelope"></i>
        </span>
        <div class="contact_info">
            <p><b>البريد الالكترونى</b></p>
            <p>investigate@your-site.com</p>
            <p>investigate@your-site.com</p>
        </div>
    </div>
    <!-- Contact Info -->
    <!--
    <div class="contact_box">
        <span>
            <i class="fa fa-phone"></i>
        </span>
        <div class="contact_info" >
            <p><b>رقم التليفون  </b></p>
            <p>+12 345 67 09</p>
            <p>+12 345 67 09</p>
        </div>
    </div>
    <!-- Contact Info -->
    <!--
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    -->
    <!-- clients -->
    <div class="clients">
        <h3 style="text-align: center;margin-bottom: 50px;">عملائنا </h3>
        <div class="container">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <img class="lazyOwl img-responsive image" src="~/img/logo111.png" style="height: 110px;" alt="ePlus Telecom" />
                        <div class="overlay2">
                            ePlus Telecom
                        </div>
                    </div>
                    <div class="col-md-3">
                        <img class="lazyOwl img-responsive image" src="~/img/logo2.jpg" style="height: 110px;" alt="" width="150" />
                        <div class="overlay2">
                            MEDIREC
                        </div>
                    </div>
                    <div class="col-md-3">
                        <img class="lazyOwl img-responsive image" src="~/img/logorestart.png" style="height: 110px;" alt="" height="70" width="200" />
                        <div class="overlay2">
                            <p style="padding-top:-20px;">Restart Technology</p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <img class="lazyOwl img-responsive image" src="~/img/wesly-logg.png" style="height: 110px;" alt="" height="70" width="70" />
                        <div class="overlay2">
                            Logos Printing
                        </div>
                    </div>

                    <div class="col-md-2">
                        <img class="lazyOwl img-responsive image" src="~/img/land.jpeg" style="height: 110px;" alt="" height="70" width="200" />
                        <div class="overlay2">
                            Land Kraft
                        </div>
                    </div>

                </div>
                <div class="row" style="margin-top: 50px;">
                    <div class="col-md-2">
                        <img class="lazyOwl img-responsive image" src="~/img/21.jpeg" style="height: 130px;" alt="" />
                        <div class="overlay2">
                            Mogassam Labs
                        </div>
                    </div>
                    <div class="col-md-3">
                        <img class="lazyOwl img-responsive image" src="~/img/22.jpeg" style="height: 130px;" alt="" width="150" />
                        <div class="overlay2">
                            Shamsia Space
                        </div>
                    </div>
                    <div class="col-md-3">
                        <img class="lazyOwl img-responsive image" src="~/img/233.png" style="height: 130px;" alt="" height="70" width="70" />
                        <div class="overlay2">
                            Seeders
                        </div>
                    </div>
                    <div class="col-md-2">
                        <img class="lazyOwl img-responsive image" src="~/img/24.jpeg" style="height: 130px;" alt="" height="70" width="200" />
                        <div class="overlay2">
                            Olive
                        </div>
                    </div>
                    <div class="col-md-2">
                        <img class="lazyOwl img-responsive image" src="~/img/25.jpeg" style="height: 130px;" alt="" height="70" width="200" />
                        <div class="overlay2">
                            White Horse
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <footer id="footer">
        <div class="container">
            <!-- social Section -->
            <div class="footer_sm">
                <a href="https://www.facebook.com/WeslyLawOfficeLegalServiceForStartupslegalservice">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>

                <a href="#">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>

            </div>
            <div class="row" style="direction: rtl;">
                <div class="col-md-12 col-sm-12">
                    <div class="footer_copyright">
                        <p> 2018 ©  مكتب وسلى للمحاماة  | جميع الحقوق محفوظة  . طور الموقع بواسطة <a href="http://seedersmarket.com/" target="_blank">seeders</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    @*<script src="~/Scripts/js/jquery-1.12.4.min.js"></script>*@
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    @*<script src="~/Scripts/js/bootstrap.min.js"></script>*@
    <!-- Owl Js -->
    <script src="~/Scripts/js/owl.carousel.js"></script>
    <!-- map -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="~/Scripts/js/main.js"></script>



    <script>
        function scrollNav() {
            $('.nav a').click(function () {

                //Toggle Class
                $(".active").removeClass("active");
                $(this).closest('li').addClass("active");
                var theClass = $(this).attr("class");
                $('.' + theClass).parent('li').addClass('active');

                //Animate
                $('html, body').stop().animate({
                    scrollTop: $($(this).attr('href')).offset().top - 60
                }, 400);
                return false;
            });
            $('.scrollTop a').scrollTop();
        }
        scrollNav();
    </script>
    <!-- //animation effects-js-->
    <script src="~/Scripts/js/aos.js"></script>
    <script src="~/Scripts/js/aos1.js"></script><!-- //animation effects-js-->
    <script defer src="~/Scripts/js/jquery.flexslider.js"></script>

    <script type="text/javascript">
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
    <script src="~/Scripts/js/jarallax.js"></script>
    <script src="~/Scripts/js/SmoothScroll.min.js"></script>
    <script type="text/javascript">
        /* init Jarallax */
        $('.jarallax').jarallax({
            speed: 0.5,
            imgWidth: 1366,
            imgHeight: 768
        })
    </script>
    <!-- WhatsHelp.io widget -->
    <script type="text/javascript">
            (function () {
                var options = {
                    facebook: "521440814554139", // Facebook page ID
                    whatsapp: "+201200881779", // WhatsApp number
                    call_to_action: "Message us", // Call to action
                    button_color: "#129BF4", // Color of button
                    position: "right", // Position may be 'right' or 'left'
                    order: "facebook,whatsapp", // Order of buttons
                };
                var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
                var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
                s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
                var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
            })();
    </script>
    <!-- /WhatsHelp.io widget -->
</body>
</html>